
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <input type="text" name="OnePost" />
            <input type="submit" name="button" />            

        </form>
    </div>
</body>
</html>
