
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>
        *{
            color: red;
        }
    </style>
</head>
<body>
    <div> 
        <h1>@ViewBag.PostsContent</h1>
    </div>
</body>
</html>
