@using Slide09.Models
@model Slide09.Models.Post
@{
    //Layout = null;

    List<Post> Posts = new List<Post>();
    Posts = (List<Post>)Session["Posts"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        <h3>Posts:</h3>
        <ul>
            @{
                for (int i = 0; i < Posts.Count; i++)
                {                    
                    <li><a href="/posts/@i">@Posts[i].Title</a></li>
                }
            }
        </ul>
        <br /><br />
        @Html.ActionLink("Create new post :)", "Create", "Post")
    </div>
</body>
</html>
