
@{
    ViewBag.Title = "Index";
}

<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/home/about">About</a></li>
        <li><a href="/posts">Posts</a></li>
    </ul>
</div>
<div>
    <h2>@ViewBag.title</h2>
    <p>@ViewBag.message</p>
</div>