
@{
    ViewBag.Title = "Home";
}

<div>
    <h2>@ViewBag.title</h2>
    <p>@ViewBag.message</p>
</div>

@section jQuerySaysHello
    {
        <script src="~/scripts/jquerysayshello.js"></script>
    }