/* General padding */
input[type=text], input[type=password], input[type=email], button {
	padding: 16px 12px;
	border-radius: 4px;
}

/* Text fields */
input[type=text], input[type=password], input[type=email] {
	border: none;
	background-color: #EDEDED;
}

/* Buttons */
button {
	background-color: #E0E0E0;
	border-radius: 2px;
	border: none;
	text-transform: uppercase;
}

label {
	text-align: left;
	margin-bottom: .5rem;
	color: #A5A5A5;
}

.button--success {
	background-color: #5AB44B;
	color: #fff;
}

.button--primary {
	background-color: #1F95E7;
	color: #fff;
}

.button--primary:hover {
	background-color: #1682CD;
}

.button--success {
	background-color: #30CE37;
	color: #fff;
}

.button--success:hover {
	background-color: #27B82D;
}