/* Block */
.c-login-box {
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #E1E1E1;
	max-width: 400px;
	width: 100%;
	text-align: center;
}

/* Elements */
.c-login-box__logo {
	height: 5rem;
	margin: 0;
}

.c-login-box__logo--circled {
	border-radius: 50%;
}

.c-login-box__elem {
	margin-bottom: 1.5rem;
}

.c-login-box__invalid-text {
	color: red;
}

.c-login-box__meta {
	max-width: 400px;
	text-align: center;
	font-size: .85rem;
	line-height: 1.15rem;
	color: #A5A5A5;
}

.c-login-box__fa {
	margin-left: -6px;
	margin-right: 6px;
}